<div id="<%= dom_id mentor %>">
    <tr>
        <th>Nome do Mentor</th>
        <th>Biografia</th>
        <th>URL</th>
    </tr>
    <tr>
        <td><%= mentor.user.name %></td>
        <td><%= mentor.bio %></td>
        <td><a href="<%= mentor.url %>">Site do Mentor</a></td>
    </tr>
</div>
